body{
	margin: 0;
}
a{
	text-decoration: none;
}

.box{
	width: 432px;
	height: 281px;
	border: 1px solid red;
	margin: 50px auto;
	position: relative;
}
.box .item{
	position: absolute;
	width: 135px;
	height: 135px;
}
.item .pic{
	display: block;
	width: 135px;
	height: 135px;
}
.item .info, .info .info_bg, .info .info_text{
	position: absolute;
	height: 28px;
	width: 135px;
	bottom: 0;
	left: 0;
}
.info .info_bg{
	background-color: red;
	opacity: .7;
	filter: alpha(opacity=70);	
}
.info .info_text{
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
}
.up_left{
	top: 0;
	left: 0;
}
.down_left{
	bottom: 0;
	left: 0;
}
.up_right{
	top: 0;
	right: 0;
}
.down_right{
	bottom: 0;
	right: 0;
}
