.box{
	margin: 30px auto;
	height: 404px;
	width: 404px;
	border: 1px dashed black;
}
.box1{
	margin: 27px;
	height: 340px;
	border: 5px solid #d7effe;
}
.box2{
	margin: 20px;
	height: 298px;
	border: 2px solid #ffa0df;
	background: #ffa0df;
}
.box3{
	margin: 40px;
	height: 216px;
	border: 1px dashed #fff;
}
.box4{
	margin: 3px;
	height: 208px;
	border: 1px dashed #fff;
}
.box5{
	margin: 49px;
	height: 100px;
	border: 5px solid #fcff00;
	background: #96ff38;
}
