#box{width: 298px;height: 416px;border: 1px solid #cfcfcf;border-top: 2px solid #206f96;}
#div1{width: 298px;height: 29px;border-bottom: 1px solid #cfcfcf;}
#div2{width: 298px;height: 56px;border-bottom: 1px solid #ececec;}
#div3{width: 298px;height: 125px;border-bottom: 1px solid #ececec;}
#div4{width: 298px;height: 75px;border-bottom: 1px solid #ececec;}
/*****边框练习2*****/
#main{width: 300px;height: 416px;border-top: 2px solid #206f96;}
#title{width: 298px;height: 29px;border-left: 1px solid #cfcfcf;border-right: 1px solid #cfcfcf;}
#container{width: 298px;height: 386px;border: 1px solid #cfcfcf;}
#container1{width: 298px;height: 56px;border-bottom: 1px solid #ececec;}
#container2{width: 298px;height: 125px;border-bottom: 1px solid #ececec;}
#container3{width: 298px;height: 75px;border-bottom: 1px solid #ececec;}
#container4{width: 298px;height: 125px;}