body, h4{
	margin: 0;
}
a{
	text-decoration: none;
}
input, select{
	padding: 0;
	border: 1px solid #ababab;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.box{
	width: 960px;
	height: 688px;
	padding: 30px 11px 0 11px;
	font-size: 12px;
	margin: 0 auto;
}
.box .head{
	height: 28px;
	width: 100%;
	margin-bottom: 23px;
}
.head h4{
	float: left;
	margin-right: 22px;
	text-indent: -999px;
}
.head .head_163{
	width: 107px;
	height: 28px;
	background: url(../img/logo_163.png) no-repeat;
}
.head .head_126{
	width: 109px;
	height: 28px;
	background: url(../img/logo_126.png) no-repeat;
}
.head .head_yeah{
	width: 115px;
	height: 28px;
	background: url(../img/logo_yeah.png) no-repeat;
	margin-right: 17px;
}
.head .title{
	float: left;
	height: 28px;
	width: 252px;
	background: url(../img/log_title.png) no-repeat;
}
.head .op_list{
	float: right;
	margin-right: 6px;
	line-height: 28px;
	word-spacing: 2px;
	color: #a899a8;
}
.op_list a{
	color: #003399;
}
.box .container{
	width: 960px;
	height: 586px;
}
